In [1]:
import numpy as np
import pandas as pd

C:\Users\khushi\AppData\Local\Temp\ipykernel_4080\1662815981.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df=pd.read_csv("C:/Users/khushi/Downloads/salary_predict_dataset.csv")

In [3]:
df.head()

   experience  cgpa  Age  Interview_score  Salary
0         1.1     8   22               75   39343
1         1.3     7   23               74   46205
2         1.5     6   22               76   37731
3         2.0     8   24               78   43525
4         2.2     6   28               84   39881

In [4]:
df.tail()

    experience  cgpa  Age  Interview_score  Salary
24         9.0     7   36               86  109431
25         9.5     5   34               84  105582
26         9.6     4   38               79  116945
27        10.3     9   40               73  122391
28        10.5     4   39               75  121872

In [5]:
df.isnull().sum()

experience         0
cgpa               0
Age                0
Interview_score    0
Salary             0
dtype: int64

In [6]:
df.shape

(29, 5)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   experience       29 non-null     float64
 1   cgpa             29 non-null     int64
 2   Age              29 non-null     int64
 3   Interview_score  29 non-null     int64
 4   Salary           29 non-null     int64
dtypes: float64(1), int64(4)
memory usage: 1.3 KB

In [8]:
df.describe()

       experience       cgpa        Age  Interview_score         Salary
count   29.000000  29.000000  29.000000        29.000000      29.000000
mean     5.393103   6.724138  27.655172        78.965517   74735.310345
std      2.853686   1.556015   5.259521         9.700820   26984.972751
min      1.100000   3.000000  21.000000        46.000000   37731.000000
25%      3.200000   6.000000  24.000000        75.000000   56642.000000
50%      4.900000   7.000000  27.000000        79.000000   64445.000000
75%      7.900000   8.000000  29.000000        85.000000   98724.000000
max     10.500000   9.000000  40.000000        99.000000  122391.000000

In [9]:
df.duplicated().sum()

0

In [10]:
x=df.iloc[:,:4]
y=df.iloc[:,4:]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [12]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

rf=RandomForestRegressor()
dt=DecisionTreeRegressor()
lr=LinearRegression()
dt.fit(x_train,y_train)
lr.fit(x_train,y_train)
rf.fit(x_train,y_train)
y_pred=lr.predict(x_test)
y1_pred=dt.predict(x_test)
y2_pred=rf.predict(x_test)
print("Linear Regression",y_pred)
print("Decision Tree",y1_pred)
print("Random Forest",y2_pred)

Linear Regression [[ 37545.69451861]
 [ 88291.38930287]
 [100615.83524016]
 [ 66274.41630333]
 [ 59397.75452853]
 [111270.63215741]]
Decision Tree [ 39343.  81363. 101302.  57189.  57189. 109431.]
Random Forest [ 41806.94  88359.24  99866.49  58858.79  58946.6  110938.32]

C:\Users\khushi\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [13]:
s=df['Salary'].max()
s

122391

In [16]:
from sklearn.metrics import accuracy_score,mean_absolute_error,mean_squared_error,r2_score

l1=mean_absolute_error(y_test,y_pred)
l2=mean_squared_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)
print(f"L1 Score for LR:{l1}")
print(f"L2 Score for LR:{l2}")
print(f"R2 Score for LR:{r2}")

l1=mean_absolute_error(y_test,y1_pred)
l2=mean_squared_error(y_test,y1_pred)
r2=r2_score(y_test,y1_pred)
print(f"L1 Score for DT:{l1}")
print(f"L2 Score for DT:{l2}")
print(f"R2 Score for DT:{r2}")

l1=mean_absolute_error(y_test,y2_pred)
l2=mean_squared_error(y_test,y2_pred)
r2=r2_score(y_test,y2_pred)
print(f"L1 Score for RF:{l1}")
print(f"L2 Score for RF:{l2}")
print(f"R2 Score for RF:{r2}")

L1 Score for LR:5807.4806546046675
L2 Score for LR:50611581.33190599
R2 Score for LR:0.9359782735746942
L1 Score for DT:4896.666666666667
L2 Score for DT:45315155.0
R2 Score for DT:0.9426780515450638
L1 Score for RF:5202.986666666667
L2 Score for RF:41888671.114633314
R2 Score for RF:0.9470124234049561